[submodule "lib/javafxrt"]
	path = lib/javafxrt
	url = https://raw.github.com/mdm-releases/javafxrt-releases/master/v1.7.0_06.git
	mdm = dependency
[submodule "lib/ahslib"]
	path = lib/ahslib
	url = https://raw.github.com/heavenlyhash-releases/ahslib-releases/master/v0.6.4.git
	mdm = dependency
[submodule "lib/slf4j"]
	path = lib/slf4j
	url = https://raw.github.com/mdm-releases/slf4j-releases/master/v1.6.6.git
	mdm = dependency
[submodule "lib/beard"]
	path = lib/beard
	url = https://raw.github.com/heavenlyhash-releases/beard-releases/master/v0.6.0.git
	mdm = dependency
[submodule "lib/exus-build"]
	path = lib/exus-build
	url = https://github.com/heavenlyhash/exus-build.git
