[submodule "lib/ahslib"]
	path = lib/ahslib
	url = https://raw.github.com/heavenlyhash-releases/ahslib-releases/master/v0.6.1a1.git
	mdm = dependency
[submodule "lib/beard"]
	path = lib/beard
	url = https://raw.github.com/heavenlyhash-releases/beard-releases/master/v0.3.0.git
	mdm = dependency
